@media (max-width: 768px) {
    .dialog-body {
        width: 32ch;
    }
}

@media (min-width: 768px) {
    .dialog-body {
        width: 60ch;
    }
}

.task-dialog, .create-project-dialog {
    top: 50%;
    left: 50%;
    border-radius: 0.5em;
    justify-content: center;
    border: none;
    outline: none;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0px 0px 1em 0.25em rgba(0, 0, 0, 0.4);
    animation: fade-out 0.4s ease-out;
    background-color: var(--background);

    &:open {
        animation: fade-in 0.4s ease-out;
    }

    &:open::backdrop {
        animation: backdrop-fade-in 0.4s ease-out forwards;
        backdrop-filter: blur(2px);
    }
}

.task-dialog form, .create-project-dialog form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 1em;
}

.dialog-body {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .priority-input,
    .project-input {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    select {
        flex: 1;
        padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
        margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
        background-color: var(--background);
        border-radius: var(--size-radius);
        border: 1px solid var(--text);
    }
}

.dialog-footer {
    align-self: flex-start;
    display: flex;
    gap: 1em;

    button {
        border: none;
        padding: 0.25em 1em;
        border-radius: var(--size-radius);
    }

    #save-task, #save-project {
        background-color: var(--primary);
        color: var(--text);
        cursor: pointer;
        transition: 200ms ease-in-out;

        &:hover {
            background-color: var(--accent);
        }
    }

    #delete-task {
        background-color: var(--red-500);
        color: var(--text);
    }
}

/* Animation keyframes */

@keyframes fade-in {
    0% {
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes backdrop-fade-in {
    0% {
        background-color: rgb(0 0 0 / 0%);
    }

    100% {
        background-color: rgb(0 0 0 / 25%);
    }
}

.input {
    position: relative;

    .input__label {
        position: absolute;
        left: 0;
        top: 0;
        padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
        margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
        white-space: nowrap;
        transform: translate(0, 0);
        transform-origin: 0 0;
        background-color: var(--background);
        transition: transform 120ms ease-in;
        font-weight: bold;
    }

    .input__field {
        display: block;
        width: 100%;
        border: 1px solid currentColor;
        outline: none;
        padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
        background: transparent;
        border-radius: var(--size-radius);

        &:focus,
        &:not(:placeholder-shown) {
            &+.input__label {
                transform: translate(.25rem, -65%) scale(.8);
                color: var(--color-accent);
            }
        }
    }
}