.project-main-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50vw;
    gap: 1rem;
    padding: 3em 2em;
    min-height: 100vh;

    & input[type='text'] {
        font-size: 2em;
        border-radius: .25rem;
        border: none;
        outline: none;
        padding: 5px;
        width: 100%;
    }

    .add-task-btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3em;
        background-color: var(--primary);
        border: none;
        border-radius: .25rem;
        transition: 200ms ease-in-out;
        &:hover {
            background-color: var(--primary-dark);
            color: var(--primary-light);
        }
    }

    ul {
        list-style-type: none;
        width: 100%;
    }

    .task-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5em;
        width: 100%;
        gap: 0.5em;
        .task-actions {
            display: flex;
            flex-shrink: 0;
            gap: 0.25em;
            & button {
                flex-shrink: 0;
                border-radius: 0.15em;
            }
        }
        & button {
            display: flex;
            align-items: center;
            background-color: var(--background-color);
            border: none;
            outline: none;
            transition: 200ms ease-in-out;
            &:hover{
                background-color: var(--secondary);
                color: var(--primary-light);    
                transform: scale(1.1);
            }
        }
        & label {
            cursor: pointer;
            display: flex;
            align-items: center;
            overflow-x: hidden;
            span {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow-x: inherit;
            }
        }

        & label:hover::before,
        input[type='checkbox']:hover+label::before {
            background-color: var(--green-400);
            transition: background-color 0.2s ease;
        }

        & input[type='checkbox'] {
            cursor: pointer;
            opacity: 0;
            position: absolute;
            &:checked + label::before{
                content: '\002714';
                background-color: var(--green-500);
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &:focus + label::before{
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
            }
            &:checked + label span {
                text-decoration: line-through;
            }
        }

        & label::before {
            flex-shrink: 0;
            content: '';
            width: 1em;
            height: 1em;
            border: 0.05em solid black;
            border-radius: .15em;
            margin-right: 0.5em;
        }
    }
}